<table class="table">
    <tr>
    <th></th>
    <th>Filter</th>
    <th>Filter Values</th>
    <th>Price Group</th>
    <th>Percentage Off </th>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Status</th>
    <th>Unique ID</th>
    <th></th>
  </tr><tr>
                        <td><div style="color:Green;">1. </div></td>
                        <td>
                        Filter by SKUs
                        </td>
                        <td>
                            000-00032</td>   <td> westfield</td>
                            <td> 1%</td>
                            <td> 2022-05-11T09:14</td>
                            <td> 2022-06-03T09:14</td>
                <td style="color:Green;"> Live</td>
                            <td > 6293fe46a12ef95f0300e7e2</td>
                            <td><form method="post" action="/removePromo">
                    <input type="password"  name="pwdR" autocomplete="current-password" placeholder="Pass Key" required>

                    <input type="text"  name="removeID" placeholder="Enter ID to confirm" required>
                    <button class="remove" value="6293fe46a12ef95f0300e7e2" name="removeBN">Remove</button>
                    </form>

                    </td>
                 </tr><tr>
                        <td><div style="color:Green;">2. </div></td>
                        <td>
                        Filter by SKUs
                        </td>
                        <td>
                            000-00033	</td>   <td> woolies</td>
                            <td> 11%</td>
                            <td> 2022-05-06T09:38</td>
                            <td> 2022-06-03T09:38</td>
                <td style="color:Green;"> Live</td>
                            <td > 629404027c36847ab9090be8</td>
                            <td><form method="post" action="/removePromo">
                    <input type="password"  name="pwdR" autocomplete="current-password" placeholder="Pass Key" required>

                    <input type="text"  name="removeID" placeholder="Enter ID to confirm" required>
                    <button class="remove" value="629404027c36847ab9090be8" name="removeBN">Remove</button>
                    </form>

                    </td>
                 </tr><tr>
                        <td style="color:Green;">3.</td>
                        <td>
                        Filter by All SKUs
                        </td>
                        <td>
                            All</td>   <td> catch</td>
                            <td> 12%</td>
                            <td> 2022-05-21T09:39</td>
                            <td> 2022-06-04T09:39</td>
                <td style="color:Green;"> Live</td>
                            <td > 6294041e7c36847ab9090be9</td>
                            <td><form method="post" action="/removePromo">
                    <input type="password"  name="pwdR" autocomplete="current-password" placeholder="Pass Key" required>

                    <input type="text"  name="removeID" placeholder="Enter ID to confirm" required>
                    <button class="remove" value="6294041e7c36847ab9090be9" name="removeBN">Remove</button>
                    </form>

                    </td>
                 </tr><tr>
                        <td><div style="color:Green;">4. </div></td>
                        <td>
                        Filter by SKUs
                        </td>
                        <td>
                            000-00032</td>   <td> bbq</td>
                            <td> 12%</td>
                            <td> 2022-04-08T10:36</td>
                            <td> 2022-07-31T10:37</td>
                <td style="color:Green;"> Live</td>
                            <td > 629411b9ffc2e038e697743f</td>
                            <td><form method="post" action="/removePromo">
                    <input type="password"  name="pwdR" autocomplete="current-password" placeholder="Pass Key" required>

                    <input type="text"  name="removeID" placeholder="Enter ID to confirm" required>
                    <button class="remove" value="629411b9ffc2e038e697743f" name="removeBN">Remove</button>
                    </form>

                    </td>
                 </tr></table>